@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply container mx-auto flex grow max-w-screen-lg;
}

main {
  @apply my-16;
}